/* px to % is 1px x 6.25  */
/* Decrease size of menu page/text */ 
/* Fix Last couple of Px */
/* .menu-image and .menu reviews */
/* Fix Class Captials and lower cases */
/* Change font of ribben on menu */
/* Hover effects for sign in/log in on menu */
h1 {
  font-size: 7vh;
  text-align: center;
  font-style: oblique;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-style: solid;
  background-color:black;
  color: white;
  justify-content: left;
  padding:1%;
  margin-top: 1%;
  border-right: none;
  border-left: none;
}
h2 {
  color: whitesmoke;
  text-align: center;
  font-size: 4vh;
  margin-right: 15%;
  margin-top: 1%;
  float: right;
  font-family:'Courier New', Courier, monospace;
  text-decoration: underline;
}
.line {
  margin-top:8%;
  background-color: black;
  color: black;
}
.Login-Submit {                    
  font-size: 3vh;
  border: none;
  background-color: #49c1a2;
  color: white;
  border-radius: 1.2vh;
  width: 18vh;
  margin-bottom: 10%;
  height: 4vh;
  cursor: pointer;
}
.Login-back {
  font-size: 3vh;
  border: none;
  background-color: #49c1a2;
  color: white;
  border-radius: 1.2vh;
  width: 18vh;
  margin-bottom: 10%;
  height: 4vh;
  cursor: pointer;
}
.login-body {
  background-image: url("background.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-content{
  font-size: 4vh;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid black;              /* px */
  color: white;
  border-radius: 1.2vh;
  width: 40vh;
  cursor: pointer;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Login-back:hover {
  transform: scale(1.1);
}
.Login-Submit:hover {
  transform: scale(1.1);
}
.SignUp-Submit {
  font-size: 3vh;
  border: none;
  background-color: #49c1a2;
  color: white;
  border-radius: 1.2vh;
  width: 18vh;
  margin-bottom: 10%;
  height: 4vh;
  cursor: pointer;
}
.SignUp-back {
  font-size: 3vh;
  border: none;
  background-color: #49c1a2;
  color: white;
  border-radius: 1.2vh;
  width: 18vh;
  margin-bottom: 10%;
  height: 4vh;
  cursor: pointer;
}
.SignUp-body {
  background-image: url("background.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SignUp-content {
  font-size: 4vh;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid black;                     /*px*/
  color: white;
  border-radius: 1.2vh;
  width: 40vh;
  cursor: pointer;
}
.SignUp-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.NameSignUp {
  font-size: 3.5vh;
  text-align: center;
}
.RefLogIn {
  font-size: 2vh;
 flex-direction: row;
}
.SignUp-back:hover {
  transform: scale(1.1);
}
.SignUp-Submit:hover {
  transform: scale(1.1);
}
h4 {                                                                   
    font-size: 8vh;
    border-style: solid;
    border: none;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 10%;
    border-width: 0.6vh;
}
.EmailLogin {                       
  font-size: 3.5vh;
  text-align: center;
}
.Passwordlogin {                   
  font-size: 3.5vh;
  text-align: center;
}
.Menu-body {
  background-color: #04a3e3;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  display: inline;
  justify-content: center;
  align-items: center;
}
.Menu-content {
  font-size: 4vh;
  border: none;
  background-color: rgba(0, 0, 0,);
  border-radius: 1.2vh;
  width: 100%;
  height: 100%;
}
.button1 {
  font-size: 3vh;
  color: white;
  background-color: #04739e;
  cursor: pointer;
  border-radius: 3vh;
  padding: 0.48vh 1.62vh 0.48vh 1.62vh;
  float: right;
  margin-top: -6.5%;
  margin-right: 1%;
  border-color:white;
  border-width: 0.5vh;
}
.button2 {
  font-size: 3vh;
  color: white;
  background-color:#04739e;
  cursor: pointer;
  border-radius: 3vh;
  padding: 0.48vh 1.62vh 0.48vh 1.62vh;
  float: right;
  margin-top: -6.5%;
  margin-right: 8%;
  border-color:white;
  border-width: 0.5vh;
  
}
.menu-image {


}
.container {
  margin-top: 15%;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
}
.container-items {
  font-size: 3.4vh;
}
.citem1 {

}
.citem2 {

}
.citem3 {

}
.menu-image {
height: 15vh;
width: 3vh;
margin-left: 30%;
padding-top: 10%;
}
img {
max-width: 400%;
min-width: 400%;

}
.container1 {
margin-top: 15%;
display: flex;
flex-direction: row;
justify-content:space-evenly;
align-items: center;

}
.c1item1 {

}
.citem2 {

}
.c1item3 {

}